@import url('https://fonts.googleapis.com/css2? family= BhuTuka+Expanded+One & family= Edredom+Brush & family= Poppins:ital,wght@0,100;0,300;0,400;0,500; 0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900 & família= Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;0,700;0,900; 1.400;1.500;1.700;1.900 & family= Rock+Salt & display=swap');

:root{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




/*        login        */

body{
    min-width: 100vh;
    min-height: 100vh;
}


/*        login        */

.Login{
    margin: 10rem 5rem;
    background: #fff;
    max-width: 350px;
    width: 100%;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0px 0px 50px 10px rgba(0,0,0,0.10); ;
}

.Login form .title{
    font-size: 25px;
    font-weight: 500;
    margin: 20px 0 10px 0;
    position: relative;
}


.Login form .input-box{
    width: 100%;
    height: 45px;
    margin-top: 25px;
    position: relative;
}

.Login form .input-box input{
    width: 100%;
    height: 100%;
    outline: none;
    font-size: 16px;
    border: none;
}

.Login form .underline::before{
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background: #ccc;
    left: 0;
    bottom: 0;
}

.Login .underline::after{
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background: linear-gradient(to right, rgb(38, 0, 255) 0%, rgb(38, 0, 255) 100%);
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.3s ease;
}

.Login form .button{
    margin: 40px 0 20px 0;
}

.Login .input-box input[type="submit"]{
    background: rgb(117, 126, 250);
    font-size: 17px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.Login .input-box input[type="submit"]:hover{
    letter-spacing: 1px;
    background: #fff;
    color: rgb(117, 126, 250);
}

.Login .option1{
    font-size: 14px;
    text-align: center;
    
}

.form_Login .option1 a {
    text-decoration: none;
    color: rgb(0, 89, 255);
}



/*        Cadastro        */
.Cadastro   {
    margin: 10rem 5rem;
    max-width: 350px;
    width: 100%;
    background: #fff;
    padding: 25px 25px;
    border-radius: 5px;
    box-shadow: 0px 0px 50px 10px rgba(0,0,0,0.10); ;
}

.Cadastro .title {
    font-size: 25px;
    font-weight: 500;
    position: relative;
}



.Cadastro form .user-details{
    
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

.Cadastro form .user-details .input-box {
    margin-bottom: 15px;
    width: 90% ;
}

.user-details .input-box .details {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.user-details .input-box input {
    height: 45px;
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    font-size: 16px;
    background: #F0F1F8;
    border-radius: 6px;
    padding: 0 15px;
    resize: none;
}




.Cadastro form .register {
    height: 45px;
    margin: 45px 0;
}

.Cadastro form .register input {
    height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight:  500;
    background: rgb(117, 126, 250);
    transition: all 0.3s ease;
}

.Cadastro form .register input:hover {
    background: #fff;
    color: rgb(117, 126, 250);
    letter-spacing: 1px;
    cursor: pointer;
}


/*=============================MENU=========================*/



#menu {
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.1); ;
    border: 1px solid;
}

#menu {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}


#menu  {
    background-color: white;
    margin-left: 5rem;
    margin-top: 5rem ;
    width: 120px;
    height: 600px;
}


#menu  ul li {
    width: 90px;
    height: 80px;
}

#menu  ul li{
    margin: 10px;
    margin-left: -1.4rem; 
}

#menu  ul li {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;     
}

#menu  ul li  {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#menu ul li {
    cursor: pointer;
    background:linear-gradient(to bottom, #86c6f8 5%, #acbac5 100%);
    box-shadow:inset 0px 1px 0px 0px #d7ecfd;
}

#menu .title {
    font-size: x-large ;
    text-decoration:none;
    font-size: 20px;
    color: rgb(0, 0, 0);
}
#menu  ul li a:hover{    
    color: #ffffff;
}

#menu .title{
    text-align: center;
    padding: 32px;
}

#menu .button {
    text-decoration:none;
    border-radius: 10px;
}

#menu .button {
    width: 80px;
    height: 18px;
}

#menu .button { 
    display: flex;
    justify-content: space-around;
    margin: 5rem -1.3rem;
}

#menu .button { 
   cursor: pointer;
   background:linear-gradient(to bottom, #86c6f8 5%, #acbac5 100%);
   box-shadow:inset 0px 1px 0px 0px #d7ecfd;
   color:#fff;
}

 

iframe {
    background: white;
    display: flex;
    width: 50rem;  
    height: 600px;
    border: 1px solid rgb(0, 0, 0);
    margin-left: 13rem;
    margin-top: -37.6rem;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.1);}



/*=============================CADASTRO DE PRODUTO=========================*/


.container .title {
    font-size: 30px;
}

.container .title {
    background:linear-gradient(to bottom, #86c6f8 5%, #acbac5 100%);
}

.containergi .title {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.container .input-box {
    height: 35px;
    width: 95%;
    background: #eff0f3;   
    margin-top: 0.5rem;
}



#register .input-box {
    border-radius: 6px;    
}

#register .input-box input {
    display: block;
    outline-style: auto;
    margin-left: 6rem; 
    margin-top: -0.69rem; 
}   

#register span {
    display:inline;  
}


#register .input-box {
    font-size: 16px; 
    resize: none;
    align-items: center;
}

#register .butom input  {
    text-decoration:none;
    border-radius: 10px;
}


#register .butom input  { 
   cursor: pointer;
   background:linear-gradient(to bottom, #86c6f8 5%, #acbac5 100%);
   box-shadow:inset 0px 1px 0px 0px #d7ecfd;
   color:#fff;
}

#register .butom input {
     display:inline; 
     border-radius: 10rem;
     width: 6rem;
     height: 2rem;
     float:left;
     margin-top: 1rem;
     margin-left: 1rem;
     cursor: pointer;
}

/*=============================EDITAR DE PRODUTO=========================*/


#edit {
    display: inline;
    height: 10px;
    width: 95%;
}


#edit .box{ 
    background: #eff0f3;   
    margin-top: 0.5rem; 
    height: 35px;
}  

#edit .box input{
    display: inline;
    display: block;
    outline-style: auto;
    margin-left: 13rem; 
    margin-top: -0.69rem;     
}

#edit .box output{ 
    justify-content: space-around;
}

 

#edit .button #divBusca input{
    height: 1.6rem;
    width: 10rem;
    border-radius: 10rem;
    margin-right: -4.5rem;
}

#edit .button .buscar input{
   margin-right: -10rem;
   border-radius: 10rem;
   cursor: pointer;
   background:linear-gradient(to bottom, #86c6f8 5%, #acbac5 100%);
   box-shadow:inset 0px 0px 0px 0px #d7ecfd;
}

#edit .button .Confirm input{ 
   margin-left: 6rem;
   height: 2rem;
   width: 6rem;
   border-radius: 10rem;
   cursor: pointer;
   background:linear-gradient(to bottom, #86c6f8 5%, #acbac5 100%);
   box-shadow:inset 0px 0px 0px 0px #d7ecfd;
 
}

.button input{
     display:inline; 
     height: 2rem;
     float:left;
     margin-top: 1rem;
     margin-left: 1rem;
     
}

/*=============================REMOVER DE PRODUTO=========================*/

#register .button #divBusca input{
    height: 1.6rem;
    width: 10rem;
    border-radius: 10rem;
    margin-right: -4.5rem;
}

#register .button .buscar input{
   margin-right: -10rem;
   border-radius: 10rem;
   cursor: pointer;
   background:linear-gradient(to bottom, #86c6f8 5%, #acbac5 100%);
   box-shadow:inset 0px 0px 0px 0px #d7ecfd;
}

#register .button .Confirm input{ 
   margin-left: 6rem;
   height: 2rem;
   width: 6rem;
   border-radius: 10rem;
   cursor: pointer;
   background:linear-gradient(to bottom, #86c6f8 5%, #acbac5 100%);
   box-shadow:inset 0px 0px 0px 0px #d7ecfd;
 
}



/*============================= CONSULTAR DE PRODUTO=========================*/
